:root
{
    --orange: darkorange;
    --hr-width: 300px;
    --hr-width2: 350px;
    --red: rgb(200, 30, 30);
    --height: 700px;
    --input-margin: 18%;
}
html
{
    scroll-behavior: smooth;
}
body
{
    
    font-family: "Raleway", 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}
form > input, form > label
{
    display: block;
    width: var(--hr-width);
    text-align: left;
    margin: 20px var(--input-margin);
}
form > label
{
    margin-bottom: 0;
}
form > label > span
{
    color: red;
    font-weight: bolder;
}
section > h1
{
    font-size: 40px;
    margin-bottom: 0;
}
hr
{
    border: 0.5px solid black;
    width: var(--hr-width);
    margin-left: var(--input-margin);
}
.err-msg
{
    color: var(--red);
    border: 2px solid var(--red);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
}
.err-msg::before
{
    content: " ";
    position: absolute;
    border: 10px solid var(--red);
    right: 100%;
    top: 20%;
    border-color: transparent var(--red) transparent transparent;
}
.input
{
    padding: 10px 5px;
    font-family: "Raleway", 'Segoe UI', sans-serif;
    font-size: 20px;
    width: var(--hr-width);
    margin-top: 5px;
    margin-bottom: 40px;
}
.left-shift
{
    animation-name: leftshift;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
.right-shift
{
    animation-name: rightshift;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
@keyframes leftshift
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(-100vw);
    }
}
@keyframes rightshift
{
    0%
    {
        transform: translateX(0);
    }
    100%
    {
        transform: translateX(100vw);
    }
}
#login
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: var(--height);
    position: absolute;
    border-right: 5px solid black;
}
#login > section
{
    text-align: center;
    width: 50%;
}
#login-left
{   
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6)), url('../images/first.jpg');
    background-size: 100vw var(--height);
    background-position: -230px 0px;
    background-repeat: no-repeat;
    background-clip: border-box;
    padding-top: 30vh;
}
#login-signup-button
{
    text-decoration: none;
    display: block;
    background: rgba(255,255,255,0.2);
    width: 120px;
    cursor: pointer;
    margin: 10px auto;
    font-weight: 900;
    font-size: 20px;
    padding: 13px 40px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    transition: 0.8s ease-out;
}
#login-signup-button:hover
{
    background: rgba(255,255,255,0.8);
}
#login-right
{
    height: var(--height);
    background: var(--orange);
    color: white;
}
#login-right > h1
{
    margin-top: 80px;
    font-size: 50px;
}
#login-right > form
{
    margin-top: 100px;
}
#login-login-button
{
    text-decoration: none;
    display: block;
    background: rgb(0, 0, 30);
    color: rgb(220, 220, 220);
    cursor: pointer;
    margin: 30px var(--input-margin);
    font-size: 20px;
    padding: 12px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
}
#login-login-button:hover
{
    padding-right: 45px;
}
#email-not-exist
{
    display: none;
    width: 150px;
    left: calc(44vw + (100vw - var(--hr-width)) / 2);
    top: 38vh;
}
#wrong-password
{
    display: none;
    width: 150px;
    left: calc(44vw + (100vw - var(--hr-width)) / 2);
    top: 54vh;
}


#signup
{
    display: flex;
    top: 0;
    left: 100vw;
    flex-direction: row;
    position: absolute;
    height: var(--height);
    align-items: stretch;
    width: 100vw;
    text-align: center;
    border-left: 3px black solid;
}
#signup-left
{
    background-color: var(--orange);
    width: 35vw;
    padding-top: 130px;
}
#signup-intro
{
    color: white;
    width: 70%;
    margin: 20px auto 80px;
}
#email-exists
{
    display: none;
    width: 150px;
    left: 72vw;
    top: 45vh;
}
#signup-login-button
{
    text-decoration: none;
    display: block;
    background: rgb(0, 0, 30);
    color: white;
    width: 120px;
    cursor: pointer;
    margin: 10px auto;
    font-weight: 900;
    font-size: 20px;
    padding: 13px 40px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    transition: 0.8s ease-out;
}
#signup-login-button:hover
{
    background-color: rgb(50, 50, 120);
}
#signup-right
{
    width: 65vw;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6)), url('../images/second.jpg');
    background-size: 70vw var(--height);
    background-position: -100px 0px;
    background-repeat: no-repeat;
}
#signup-right > form
{
    display: block;
    padding-left: 0;
    width: 50vw;
    margin: 50px auto;
}
#signup-right input
{
    width: var(--hr-width2);
}
#signup-signup-button
{
    text-decoration: none;
    display: block;
    background: rgb(200, 200, 200);
    color: rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    margin: 60px 120px;
    font-weight: 600;
    font-size: 17px;
    padding: 10px 15px;
    outline: none;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
}
#signup-signup-button:hover
{
    background-color: rgb(150, 150, 150);
    padding-right: 30px;
}



/* Media queries */
@media (max-width: 800px) {
    :root
    {
        --small-font: 14px;
        --big-font: 27px;
        --hr-width: 220px;
        --hr-width2: 250px;
        --input-margin: 10vw;
    }
    section > h1
    {
        font-size: var(--big-font);
    }
    .input
    {
        padding: 5px 2px;
        font-size: var(--small-font);
        margin-top: 5px;
        margin-bottom: 20px;
    }
    #login
    {
        position: absolute;
        left: 0vw;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 130vh;
        max-width: 100vw;
    }
    #login > section
    {
        width: 100%;
        font-size: var(--small-font);
    }
    #login-left
    {
        background-size: 100vw 80vh;
        min-height: 70vh;
        background-position: 0px 0px;
        padding-top: 10vh;
    }
    #login-left > p
    {
        width: 85vw;
        text-align: center;
        display: block;
        margin: 20px auto;
    }
    #login-left > .option
    {
        margin-top: 50px;
    }
    #login-signup-button
    {
        width: 80px;
        margin: 5px auto;
        font-weight: 900;
        font-size: calc(var(--small-font) + 4px);
        padding: 7px 80px;
        border-radius: 10px;
    }
    #login-right
    {
        min-height: 80vh;
    }
    #login-right > h1
    {
        margin-top: 40px;
        font-size: var(--big-font);
    }
    #login-right > form
    {
        margin-top: 30px;
    }
    #login-login-button
    {
        font-size: calc(var(--small-font) + 4px);
    }


    #signup
    {
        display: none;
        left: 100vw;
        position: absolute;
        flex-direction: column;
    }
    #signup > section
    {
        width: 100%;
        font-size: var(--small-font);
    }
    #signup-left
    {
        background-color: var(--orange);
        padding-top: 30px;
        min-height: 60vh;
    }
    #signup-intro
    {
        margin: 20px auto 100px;
    }
    #signup-login-button
    {
        font-size: calc(var(--small-font) + 4px);
        padding: 7px 6vw;
    }
    #signup-right
    {
        background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6)), url('../images/second.jpg');
        background-size: 100vw 100vh;
        background-position: 0px 0px;
        background-repeat: no-repeat;
    }
    #signup-right > form
    {
        width: 50vw;
        margin: 20px 8vw;
    }
    #signup-signup-button
    {
        margin: 60px 10vw;
        font-size: calc(var(--small-font) + 2px);
        width: var(--hr-width);
        padding: 10px 35px;
    }
    #signup-signup-button:hover
    {
        background-color: rgb(150, 150, 150);
        padding-right: 35px;
    }
}